      /* Generales */
      body { padding-top: 70px; }
      body, p {
        font-family: 'Asap', sans-serif;
        color: #333;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Asap', sans-serif;
        color: #3d7696;
      }
      h1, h2 {
        padding-bottom: 1em;
        padding-top: 0.5em;
      }
      
      /* p { font-size: small; } */

      .col-center { text-align: center; }
      .img-servicios { margin-bottom: 5px; }
      .novedad { }

      hr.separador-small {
          padding: 5px;
          margin: 5px;
          margin-left: 70px;
          margin-right: 70px;
          border-top: 1px dashed #cadce3;
      }

      .container-footer {
        padding: 10px;
        background-color: #aaa;
      }

      .container-footer hr {
          padding: 5px;
          margin: 5px;
          border-top: 1px dashed #bbb;
      }


      .container-novedades-proy-contactenos {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #f7f7f7;
        font-size: small;
      }

      /* Cuadros con servicios */
      div.servicio em {
        color: #3d7696;
        font-style: normal;
        /* font-weight: bold; */
      }
      div.servicio h3 {
        color: #3d7696;
        font-weight: bold; 
      }
      div.servicio h4 {
        color: #3d7696;
        font-weight: bold; 
      }

      div.servicio hr {
          padding: 5px;
          margin: 5px;
          border-top: 1px dashed #cadce3;
      }

      div.servicio .label {
			font-weight: normal;
			background-color:#eeeeee;
			color:#555;
      }

      /*--- Header ---*/     

      /*--- Clientes ---*/

      .clientes div img {
        margin: 0 auto;
      }

      .menu-principal >li {
        float: left;
        }

      /*--- MQ ---*/

      @media (max-width: 768px){
        .clientes > div {
          margin: 20px 0;
        }
      }

      @media (max-width: 550px) {

        /*--- Header ---*/

        .fa-google-plus:before {
          top: 2px;
        }

        /*--- Clientes ---*/

        .clientes > div {
          width: 100%;
        }

      }

      @media (max-width: 350px) {
        .menu-principal >li {
            float: none;
        }

        .menu-principal >li>a {
          padding-top: 5px;
          padding-bottom: 5px;
          text-align: right;
        }
      }
